
        <main>
            <h1>Register Form</h1>
            <div class="form">
                <form action="#" method="POST">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>

                    <label for="repeatPassword">Email</label>
                    <input type="text" id="email" name="email" required>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>

                    <label for="password">Repeat Password</label>
                    <input type="password" id="repeatPassword" name="repeatPassword" required>

                    <input type="submit" value="Register">
                </form>
            </div>
        </main>
